@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

/* Global Styles */
:root {
	--primary-color: #fc3939;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.bg {
	background: url(../images/bg-ph.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	transition: opacity 0.5s ease-in-out;
}

/* Dark Overlay */
.dark-overlay {
	background-color: rgb(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.full-size {
	position: relative;
	outline: none;
	overflow: visible;
}

.bg-inner {
	height: 100vh;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bg-inner-insta {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bg-inner-sayhi {
	height: 70vh;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.zoom {
	transition: transform 0.2s;
}

.zoom:hover {
	transform: scale(1.5);
}

.custom-nav-link {
	color: #000 !important;
}

.custom-nav-link:hover {
	color: var(--primary-color) !important;
}

.hidden {
	display: none !important;
}

.show {
	display: block !important;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	visibility: hidden;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

main.fade-in {
	visibility: visible;
	animation: fadeIn 1s ease-in-out;
}

.cont {
	position: relative;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.cont:hover .image {
	opacity: 0.3;
}

.cont:hover .middle {
	opacity: 1;
}

.text {
	font-weight: 900;
	color: #000;
	/* -webkit-text-stroke: 0.2px black; */
	font-size: 16px;
	padding: 16px 32px;
}

/* CSS for screens till 1180px */
@media (min-width: 1250px) {
	.start-20 {
		left: 20%;
	}
}

/* CSS for screens up to 1180px */
@media (max-width: 1250px) {
	.start-20 {
		left: 10%;
	}
}

/* CSS for screens till 768px */
@media (min-width: 768px) {
	.full-size-about {
		position: relative;
		outline: none;
		overflow: visible;
	}

	.bg-inner-about {
		height: 90vh;
		width: 60%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.logo {
		width: 500px !important;
		height: 500px !important;
	}
}

/* CSS for screens up to 768px */
@media (max-width: 768px) {
	.full-size-about {
		position: relative;
		outline: none;
		overflow: visible;
	}

	.bg-inner-about {
		height: 60vh;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.logo {
		width: 350px !important;
		height: 350px !important;
	}
}
